@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --res: calc(0.1 * 1vmin);
}


body{
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
}

.wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 50%;
}

.main-title{
    width: 100%;
    margin-left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

.main-title img{

    width:calc(90 * var(--res));
    height: 50px;

}
.space{
    width: 20px;
    height: 20px;

}
.main-title h1{

    font-size:  calc(34 * var(--res));

}


.description{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  calc(20 * var(--res));
    height: 5%;
}
.description1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  calc(16 * var(--res));
    height: 5%;
}


button{
    width: calc(71 * var(--res));
    height: calc(37 * var(--res));
    border-radius: 14px;
    border: none;
    color: white;
    cursor: pointer;
    font-size:  calc(14 * var(--res));
    background-color: #453e3e;
}

@media (max-width: 550px){


    .wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 40px;
        height: 50%;
    }
    
    .main-title{
        width: 100%;
        margin-left: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5%;
    }
    
    .main-title img{
    
        width:calc(200 * var(--res));;
    
    }
    
    .main-title h1{
    
        font-size:  calc(50 * var(--res));
    
    }
    
    
    .description{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:  calc(18 * var(--res));
        height: 5%;
    }
    
    
    button{
        width: calc(201 * var(--res));
        height: calc(97 * var(--res));
        border-radius: 14px;
        border: none;
        color: white;
        font-size:  calc(44 * var(--res));
        background-color: #453e3e;
    }
    

}